@import './reset.less';
@import './form/form.less';
@import './list.less';
@import './tab.less';
body {
  font-family: MicrosoftYaHei;
  font-size: 14px;
}
// 满币网颜色指南
// 全局颜色
a {
  color: #1793e6;
}
// 辅助颜色
body {
  background-color: #fff;
}
#app {
  // width: 1440px;
  // margin: 0 auto;
}
// 状态颜色
.money {
  color: #ff5722;
}
.active-tab {
  margin-bottom: 20px;
  background-color: #f7f7f7;
  border-bottom: solid 1px #d9d9d9;
    h2 {
      height: 36px;
      margin-bottom: -1px;
      background-color: #f7f7f7;
    }
}
.nav-title {
  padding: 20px 0 10px;
  text-align: left;
  border-bottom: solid 1px #e7ecf0;
}
.main-w {
  width: 1180px;
  margin: 0 auto;
}
.a {
  color: #1793e6;
}