// normal button
button {
  width: 96px;
  height: 36px;
  border-radius: 4px;
  background-color: #4182ef;
  &:hover {
    background-color: #2e6bd3;
  }
  &:active {
    background-color: #2b64c5;
    
  }
  &[disabled] {
    background-color: #99befb;
  }
  
}
button.m {
  width: 150px;
}
// .btn, .el-button--primary {
//   height: 36px;
//   line-height: 36px;
// }
// .el-button--primary {
//   height: 20!important;
//   line-height: 36px!important;
// }
// small button
button.s {
  background-color: #99befb;
}
// cancel btn 
button.cancel {
  background-color: #99befb;
}
.btn, .el-button--primary {
  
  border-radius: 4px;
  background-color: #4182ef;
  border: none;
  color :#fff;
  &.large {
    height: 44px;
  }
  &.long {
    display: block;
    width: 280px;
    margin: 20px auto 10px;
  }
  &.large.long {
    font-size: 16px;
  }
  &.text {
    width: 90px;
    height: 20px;
    background-color: #fff;
    font-family: PingFangSC;
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #1793e6;
    &:hover {
      color: #1272b3;
    }
  }
}